<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "The Active Admin Store" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">

      <div id="flash_notice">
        Welcome to the demo application of <a href='http://activeadmin.info'>ActiveAdmin</a>.
        Go <a href='/admin'>try out the Administration interface</a>!
      </div>

      <div id="auth">
        <a href='/admin'>Administration interface</a> |
        <a href='http://github.com/gregbell/demo.activeadmin.info'>Source Code</a> |
        <% if logged_in? %>
          Welcome <%= current_user.username %>! Not you?
          <%= link_to "Log out", logout_path %>
        <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "Log in", login_path %>.
        <% end %>
      </div>
      
      <h1><a href="/">The Active Admin Store</a></h1>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h2, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-23306458-2']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>
</html>
